include ../../SlideGideDot/template/_component
include ../../../common/FadeInAndZoomImags/template/_component

mixin RebitaFadeSlideImage({ key = 'default' })
  .cm-rebita-fade-slide-image__wrapper(class=`cm-rebita-fade-slide-image__wrapper--${key}`)
    .cm-rebita-fade-slide-image__container
      +FadeInAndZoomImages({ key: 'default' })
        mixin images(contentClass, imageClass, image)
          div(class=contentClass)
            img(class=imageClass, src='./images/img-01.jpg', alt='')
          div(class=contentClass)
            img(class=imageClass, src='./images/img-02.jpg', alt='')
          div(class=contentClass)
            img(class=imageClass, src='./images/img-03.jpg', alt='')
          div(class=contentClass)
            img(class=imageClass, src='./images/img-04.jpg', alt='')
    .cm-rebita-fade-slide-image__gide-wrapper
      .cm-rebita-fade-slide-image__gide-item
        +RebitaSlideGideDot({ key: 'default', type: 'default' })
      .cm-rebita-fade-slide-image__gide-item
        +RebitaSlideGideDot({ key: 'default', type: 'default' })
      .cm-rebita-fade-slide-image__gide-item
        +RebitaSlideGideDot({ key: 'default', type: 'progress' })
      .cm-rebita-fade-slide-image__gide-item
        +RebitaSlideGideDot({ key: 'default', type: 'default' })
