mixin Icon({ type = '001', stroke = 'black', fill = 'black' })
  svg.cm-icon(width='24', height='24', viewBox='0 0 24 24', fill='none')
    case type
      when '001'
        path(d='M18.125 12L5.875 12M18.125 12L12.875 17.25M18.125 12L12.875 6.75', stroke=stroke, stroke-linecap='round', stroke-linejoin='round')
      when '002'
        path(d='M18.125 12L5.875 12M18.125 12L12.875 17.25M18.125 12L12.875 6.75', stroke=stroke, stroke-linecap='square')
      when '003'
        path(d='M9.375 17.25L14.625 12L9.375 6.75', stroke=stroke, stroke-linecap='round', stroke-linejoin='round')
      when '004'
        path(d='M9.375 17.25L14.625 12L9.375 6.75', stroke=stroke, stroke-linecap='square')
      when '005'
        path(d='M8.5 17.25L13.75 12L8.5 6.75', stroke=stroke, stroke-linecap='round', stroke-linejoin='round')
        path(d='M13.75 17.25L19 12L13.75 6.75', stroke=stroke, stroke-linecap='round', stroke-linejoin='round')
      when '006'
        path(d='M8.5 17.25L13.75 12L8.5 6.75', stroke=stroke, stroke-linecap='square', stroke-linejoin='round')
        path(d='M13.75 17.25L19 12L13.75 6.75', stroke=stroke, stroke-linecap='square', stroke-linejoin='round')
      when '007'
        path(d='M16.125 12L9.9375 17.391V6.60899L16.125 12Z', fill=fill)
      when '008'
        path(d='M15.6923 11.623C15.921 11.8223 15.921 12.1777 15.6923 12.377L10.766 16.6692C10.4424 16.9511 9.9375 16.7213 9.9375 16.2922V7.70779C9.9375 7.27871 10.4424 7.04894 10.766 7.33081L15.6923 11.623Z', fill=fill)
      when '009'
        path(d='M2.5 14.4159V9.58412H12.096V5.6865L21.5 12L12.096 18.3135V14.4159H2.5Z', fill=fill)
      when '010'
        path(d='M16.4531 12.3766L10.2656 17.7682L9.4375 18.4898L9.4375 5.51035L10.2656 6.23203L16.4531 11.6227L16.8857 11.9996L16.4531 12.3766Z', stroke=stroke)
      when '011'
        path(d='M16.625 11.9996C16.625 12.1442 16.5621 12.2816 16.4531 12.3766L10.2656 17.7682C10.1179 17.8967 9.90873 17.9274 9.73047 17.8463C9.55213 17.7651 9.43758 17.5871 9.4375 17.3912L9.4375 6.60899C9.4375 6.41299 9.55208 6.23508 9.73047 6.15391C9.90878 6.07279 10.1179 6.10342 10.2656 6.23203L16.4531 11.6227L16.5264 11.7018C16.5898 11.7871 16.6249 11.8914 16.625 11.9996Z', stroke=stroke, stroke-linejoin='round')
      when '012'
        path(d='M14.4068 7.47312V11.0946H3.53656L3.5 12.9144H14.4068V16.5269L20.5 12L14.4068 7.47312Z', fill=fill)