include _component.pug

+FadeInAndZoomImages({ key: 'default' })
  mixin images(contentClass, imageClass, image)
    div(class=contentClass)
      img(class=imageClass, src='./images/img-01.jpg', alt='')
    div(class=contentClass)
      img(class=imageClass, src='./images/img-02.jpg', alt='')
    div(class=contentClass)
      img(class=imageClass, src='./images/img-03.jpg', alt='')
    div(class=contentClass)
      img(class=imageClass, src='./images/img-04.jpg', alt='')