//- cm-input-001にerrorクラスを付与するとエラー表示が出る

mixin Input002({ key = 'default', type = '002', size = 'small', name = 'input-002', placeholder = '入力してください' })
  block
  .cm-input-002__wrapper(class=`cm-input-002__wrapper--${key}`)
    .js-input-002.cm-input-002(class=`cm-input-002--${type} cm-input-002--size_${size}`)
      input.cm-input-002__input(name=name, type='text', placeholder=placeholder)
      p.cm-input-002__error 
        +errorText
